p {
    color: #467500;
    font-size: 1.5em;
}

ul {
    font-size: 1.5em;
    color: #BB5E00;
}

a {
    font-size: 1.5em;
    color: #BB5E00;
}

dl {
    font-size: 1.5em;
    color: #BB5E00;
}

body {
    background-color: #FFDAC8;
}