body {
    margin: 0px;
}

header {
    height: 200px;
    background-color: rgb(153, 236, 236);
}

nav {
    height: 100px;
    background-color: rgb(255, 196, 225);
}

main {
    min-height: 1000px;
    background-color: aqua;
}

aside {
    width: 20%;
    background-color: beige;
    min-height: 1000px;
    float: left;
}

section {
    width: 80%;
    background-color: aquamarine;
    min-height: 600px;
    float: left;
}

footer {
    height: 100px;
    background-color: rgb(255, 43, 132);
    clear: both;
}